:root{
  --color-palette : linear-gradient(white,lightblue,gold);
  --blue-dark-80 : #023047;
}

h1{
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: clamp(3.3em,4em,5em);
  color:var(--color-palette);
}

/* # section info */

.section-info{
  padding:4rem 5rem;
  padding-bottom: 1rem;
  color:var(--blue-dark-80);
}

.section-info h1{
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: clamp(3.3em,4em,5em);
}

.section-info p{
  text-align: justify;
  font-size: clamp(0.7em,1.1vw,1.5em);
}

/* # section skills */


/* # section certificate */

.section-certificate{
  padding:3rem;
  color:var(--blue-dark-80);
}

.section-certificate h1{
    text-align: center;
    font-size: clamp(3.3em,4em,5em);
}

.certificate-frame{
  display: flex;
  width: 100%;
  height: 500px;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.certificate-frame h2{
  text-align: start;
  margin-bottom: 0.5rem;
}

.certificate-item{
  display: grid;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  grid-template-columns:1fr 2fr;
  transition: transform 0.6s linear;
}

.transition-zero{
  transition: transform 0.2ms linear;
}

.certificate-frame img,.certificate-img{
  width: 33rem;
  height: 25rem;
  aspect-ratio: 9/16;
  border-radius: 5px;
  border:10px solid #0a425e;
}

.certificate-img{
  display: flex;
  position:relative;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.certificate-img img{
  width:14rem !important;
  height:4rem !important;
  border:none;
  aspect-ratio: 16/9;
}

.certificate-info{
  display: grid;
  grid-template-rows: 0.4fr 0.4fr 2fr;
  padding:3rem 3rem;
  row-gap: 10px;
  flex-grow: 1;
}

.certificate-info-subbox{
  display: grid;
  justify-content: start;
  align-items: center;
  row-gap: 0.5rem;
  width:100%;
}

.certificate-info-subbox li{
  text-align: justify;
  font-size: clamp(0.5em,1.2vw,2em);
}

.small-font{
  font-size: clamp(0.3em,0.5vw,1em);
}

.certificate-hr{
  width:100%;
  height: 10px;
  background-color: #072f4e;
  margin:0.5rem 0;
}

.certificate-buttons{
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.certificate-buttons button{
  margin:0 0.5rem;
  padding:0.7rem 0.9rem;
  font-size: clamp(0.5em,1.2vw,2em);
  background-color: #0a425e;
  color:white;
}

.certificate-buttons button:focus-within{
  outline:none;
}

.certificate-heading{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding:0 0.5rem;
  column-gap:2rem;
}

.slider-dots{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.slider-dot{
  width: 10px;
  height: 10px;
  border:3px solid transparent;
  border-radius: 50%;
  background-color: whitesmoke;
  cursor: pointer;
}

.marked{
  background-color: #072f4e;
  border-color:#023047;
}

/* section education */

/* section projects */

.section-projects{
  padding:3rem;
  padding-top:1.8rem;
}

.section-projects h1{
  margin-bottom: 3.5rem;
  text-align: center;
  font-size: 4em;
  color:var(--blue-dark-80);
}

.projects-grid{
  display: grid;
  width: 100%;
  row-gap: 2rem;
}

.projects-card{
  display: grid;
  width:100%;
  justify-content: center;
  background-color:#072f4e;
  row-gap:1rem;
  padding:2rem 3rem;
}

.projects-list{
  display: grid;
  width: 100%;
  background-color: whitesmoke;
  padding:1.2rem 2rem;
  color:var(--blue-dark-80);
  border-radius: 10px;
  row-gap: 0.2rem;
}

.projects-list li{
  text-align: justify;
  font-size: clamp(0.5em,1.1vw,2em);
}

.projects-card i{
  margin-right: 0.5rem;
}

/* section nptel */

.section-certificates{
  position: relative;
}

.nptel-certificates{
  display: grid;
  position: relative;
  width: 100%;
  height: 43rem;
  padding: 3rem 5rem;
  justify-content: center;
  overflow: hidden;
}

.nptel-certificates::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotateX(45deg);
  background-color: #023047;
  z-index:-1;
}

.certificate-box{
  display: flex;
  position: relative;
  width: 56rem;
  height: 100%;
  border:20px solid #0a425e;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.nptel-certificate{
  position: absolute;
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  top:0;
  left:0;
}

.section-certificate:last-child h1{
  margin-bottom: 1.7rem;
}

.front-certificate{
  transform: perspective(3000px) translateZ(0);
  transition: transform 0s linear;
  animation: rotateUp 0.8s 1 linear;
}

.back-certificate{
  transform: perspective(3000px) translateZ(-1px);
  transition: transform 0.2s linear;
}

@keyframes rotateUp{
  from{
    transform: perspective(3000px) rotateX(-180deg);
  }to{
    transform: perspective(3000px) rotateX(0deg);
  }
}

/* section footer */
.section-footer{
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  column-gap: 4rem;
  width: 100%;
  justify-content: space-evenly;
  padding:3rem;
  background-color: #023047;
}

.footer-card{
  padding:1.5rem 2rem;
  padding-top: 1rem;
  width: 45%;
  background-color: whitesmoke;
  color:#023047;
  border: 10px solid #114c69;
  position: relative;
}

.footer-card::after{
  position: absolute;
  content:"";
  width:4rem;
  height: 4rem;
  right:1.4rem;
  bottom:2rem;
  transform: perspective(1000px) rotateY(180deg) translateZ(-2rem);
  background-color:#023047;
  border-radius: 50%;
}

.footer-card::before{
  position: absolute;
  content:"";
  width:1rem;
  height: 1rem;
  right:2.2rem;
  bottom:3.8rem;
  transform: perspective(1000px) rotateY(180deg) translateZ(-2rem);
  background-color:whitesmoke;
  border-radius: 50%;
  z-index:10;
}

.footer-card h2{
  margin-bottom: 1rem;
}

@media screen and (max-width:1250px){
  .nptel-certificates{
    width: 100%;
    height: 40rem;
  }
  
  .certificate-box{
    width: 50rem;
    height: 100%;
  }
}

@media screen and (max-width:1160px) {
  .footer-card::after{
    width: 2rem;
    height: 2rem;
    right:1rem;
    bottom:1rem;
  }

  .footer-card::before{
    width: 0.4rem;
    height: 0.4rem;
    right:1.6rem;
    bottom:2.15rem;
  }
}

@media screen and (max-width:1060px){
  .nptel-certificates{
    height: 34rem;
    padding: 2rem;
  }
  
  .certificate-box{
    width: 40rem;
    height: 100%;
  }

}

@media screen and (max-width:950px) {
  .section-certificate:last-child{
    padding-left:0;
    padding-right: 0;
  }

  .small-font li{
    font-size: clamp(0.9em,1.5vw,5em) !important;
  }
}

@media screen and (max-width:1000px){
  .certificate-frame{
    height:780px;
  }

  .certificate-buttons{
    margin-top: 1.2rem;
  }

  .certificate-item{
    display: flex;
    flex-direction: column;
  }

  .certificate-info-subbox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
    justify-content: center;
  }

  .certificate-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 0.5rem;
    padding-top:1.5rem;
  }

  .certificate-info-subbox li{
    font-size: clamp(1rem,1.2vw,2rem);
  }

}

@media (max-width:800px) {
  .header-box{
    display: grid;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
  }

  .section-footer{
    row-gap: 2rem;
  }

  .footer-card{
    width: 100%;
  }

  .header-img{
    margin:0 auto;
  }
  .frame-one{
    left:15%;
  }

  .frame-second{
    left:15%;
  }

  .section-certificate{
    padding-left: 0;
    padding-right: 0;
  }

  .certificate-frame img,.certificate-img{
    width:30rem;
    height: 20rem;
  }

  .certificate-frame{
    height:680px;
  }

  .small-font{
    font-size: clamp(0.65em,1vw,4em) !important;
  }

  .section-projects{
    padding:2rem 1.5rem;
  }

  .projects-card{
    padding:2rem;
  }

  .projects-list{
    padding:1.5rem 1rem;
    row-gap: 0.6rem;
    list-style:none;
  }
  
  .projects-list li{
    font-size: clamp(0.7em,1.2vw,2em);
  }

  .projects-card h2{
    font-size: 1.5em;
  }

  .nptel-certificates{
    height: 23rem;
  }
  
  .certificate-box{
    width: 30rem;
  }
  
}

@media screen and (max-width:650px) {
    .section-info h1,.section-skills h1,.section-certificate h1,.section-projects h1{
        font-size: clamp(3em,3vw,10em);
    }
    .section-education{
      font-size:clamp(0.8em,1.2vw,5em) ;
    }
    
    .projects-card{
      padding:1.5rem;
    }

    .projects-card h2{
      font-size: 1em;
    }

    .nptel-certificates{
      height: 22rem;
    }
    
    .certificate-box{
      width: 26rem;
    }

    .certificate-frame{
      height: 700px;
    }

    .small-font li{
      font-size: clamp(1.1em,1.5vw,5em) !important;
    }
}


@media (max-width:541px) {
  .section-projects{
    padding-bottom: 0;
  }

  .section-certificate h1{
    margin-bottom: 2.3rem;
  }

  .section-certificate:last-child h1{
    margin-bottom: 0.5rem;
  }

  .certificate-frame{
    height: 630px;
  }

  .certificate-frame img,.certificate-img{
    width:20rem;
    height: 13rem;
  }

  .section-info{
    padding-top:2rem;
  }

  .certificate-info{
    padding:2rem;
  }

  header{
    padding-left:0;
    padding-right:0;
  }

  header h1{
    font-size: 1.8em;
  }

  .header-img{
    width:15rem;
    height: 13rem;
    margin:0 auto;
  }

  .frame-one{
    width:15rem;
    height: 13rem;
    left:20%;
  }

  .frame-second{
    width:15rem;
    height: 13rem;
    left:20%;
  }

  .section-certificate h1,
  .section-info h1,
  .section-skills h1{
    font-size: 2.5em;
  } 

  .section-info{
    padding-bottom: 0;
  }

  .section-skills h1{
    padding-top: 0;
    margin-bottom: 2.5rem;
  }

  .section-certificate,.section-info,.section-skills{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .section-projects{
    padding-top:1.2rem;
  }

  .nptel-certificates{
    height: 17rem;
  }

  .nptel-certificate{
    aspect-ratio: 16/8;
  }
  
  .certificate-box{
    width: 20rem;
  }

  .footer-card{
    font-size: 0.8em;
  }
}

@media screen and (max-width:480px) {
  .certificate-frame{
    height: 550px;
  }
  .certificate-info-subbox li{
    font-size: clamp(0.55em,1.2vw,2em);
  }
  .projects-list li{
    font-size: clamp(0.5em,1.2vw,2em);
  }

  .certificate-info{
    padding:2rem 1rem;
  }

  .small-font li{
    font-size: clamp(0.7em,1.3vw,5em) !important;
  }

  .projects-list h2{
    font-size: 1em;
  }

  .section-certificate{
    padding-bottom: 2rem;
  }

  .section-footer{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .footer-card h2{
    margin-bottom: 0.5rem;
  }

  .footer-card{
    font-size: 0.6em;
  }
}

@media screen and (max-width:341px) {
  .small-font li{
    font-size: clamp(0.6em,1.2vw,5em) !important;
  }
}