:root{
  --color-palette : linear-gradient(white,lightblue,gold);
  --blue-dark-80 : #023047;
}

h1{
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: clamp(3.3em,4em,5em);
  color:var(--color-palette);
}

/* # section info */

.section-info{
  padding:4rem 5rem;
  padding-bottom: 1rem;
  color:var(--blue-dark-80);
}

.section-info h1{
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: clamp(3.3em,4em,5em);
}

.section-info p{
  font-size: clamp(0.7em,1.1vw,1.5em);
}

/* # section skills */


/* # section certificate */

.section-certificate{
  padding:3rem;
  color:var(--blue-dark-80);
}

.section-certificate h1{
    text-align: center;
    margin-bottom: 3.8rem;
    font-size: clamp(3.3em,4em,5em);
}

.certificate-frame{
  display: flex;
  width: 100%;
  height: 500px;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.certificate-frame h2{
  text-align: center;
  margin-bottom: 0.5rem;
}

.certificate-item{
  display: grid;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  grid-template-columns:1fr 2fr;
  transition: transform 0.6s linear;
}

.transition-zero{
  transition: transform 0.2ms linear;
}

.certificate-frame img{
  width: 33rem;
  height: 25rem;
  aspect-ratio: 9/16;
  border-radius: 5px;
  border:10px solid #0a425e;
}

.certificate-info{
  display: grid;
  grid-template-rows: 0.4fr 0.4fr 2fr;
  padding:3rem 3rem;
  row-gap: 10px;
  flex-grow: 1;
}


.certificate-info h2{
  margin:0 auto;
}

.certificate-info-subbox{
  display: grid;
  justify-content: start;
  align-items: center;
  row-gap: 0.5rem;
  width:100%;
}

.certificate-info-subbox li{
  font-size: clamp(0.5em,1.2vw,2em);
}

.small-font{
  font-size: clamp(0.3em,0.5vw,1em);
}

.certificate-hr{
  width:100%;
  height: 10px;
  background-color: #072f4e;
  margin:0.5rem 0;
}

.certificate-buttons{
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.certificate-buttons button{
  margin:0 0.5rem;
  padding:0.7rem 0.9rem;
  font-size: clamp(0.5em,1.2vw,2em);
  background-color: #0a425e;
  color:white;
}

.certificate-buttons button:focus-within{
  outline:none;
}

/* section education */

@media screen and (max-width:1000px){
  .certificate-frame{
    height:650px;
  }

  .certificate-buttons{
    margin-top: 1.2rem;
  }

  .certificate-item{
    display: flex;
    flex-direction: column;
  }

  .certificate-info-subbox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
    justify-content: center;
  }

  .certificate-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 0.5rem;
    padding-top:1.5rem;
  }

  .certificate-info-subbox li{
    font-size: clamp(0.8em,1.2vw,2em);
  }

}

@media (max-width:800px) {
  .header-box{
    display: grid;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
  }
  .header-img{
    margin:0 auto;
  }
  .frame-one{
    left:15%;
  }

  .frame-second{
    left:15%;
  }

  .section-certificate{
    padding-left: 0;
    padding-right: 0;
  }

  .certificate-frame img{
    width:30rem;
    height: 20rem;
  }

  .certificate-frame{
    height:600px;
  }
  .small-font{
    font-size: clamp(0.65em,1vw,4em);
  }
}

@media screen and (max-width:650px) {
    .section-info h1,.section-skills h1,.section-certificate h1{
        font-size: clamp(3em,3vw,10em);
    }
    .section-education{
      font-size:clamp(0.8em,1.2vw,5em) ;
    }
}


@media (max-width:541px) {
  .certificate-frame{
    height: 520px;
  }

  .certificate-frame img{
    width:20rem;
    height: 13rem;
  }

  .section-info{
    padding-top:2rem;
  }

  .certificate-info{
    padding:2rem;
  }

  header{
    padding-left:0;
    padding-right:0;
  }

  header h1{
    font-size: 1.8em;
  }

  .header-img{
    width:15rem;
    height: 13rem;
    margin:0 auto;
  }

  .frame-one{
    width:15rem;
    height: 13rem;
    left:20%;
  }

  .frame-second{
    width:15rem;
    height: 13rem;
    left:20%;
  }

  .section-certificate h1,
  .section-info h1,
  .section-skills h1{
    font-size: 2.5em;
  } 

  .section-info{
    padding-bottom: 0;
  }

  .section-skills h1{
    padding-top: 0;
    margin-bottom: 2.5rem;
  }

  .section-certificate,.section-info,.section-skills{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
}

@media screen and (max-width:480px) {
  .certificate-frame{
    height: 480px;
  }
  .certificate-info-subbox li{
    font-size: clamp(0.55em,1.2vw,2em);
  }
}